@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,100;1,100&display=swap'); 
h1{
    font-size: 50px;
    color: blue;
}
p{
    font-size: 20px;
    text-align: justify;
    color: red;
}
a{
    font-size: 17px;
    color: green;
}
td{
    text-align: center;
    font-size: 23px;
}
th{
    font-size: 27px;
    text-align: center;
}
h2{
    font-size: 20px;
}
/* laptop */
@media only screen and (min-width:769px) and (max-width:1024px){
    h1{
        font-size: medium;
        color: green;
    }
    p{
        font-size: small;
        text-align: justify;
        color: black;
    }
    a{
        font-size: 10px;
        color: blue;
    }
    td{
        text-align: center;
        font-size: 10px;
    }
    th{
        font-size: 13px;
    }
    h2{
        font-size: 10px;
}}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    h1{
        font-size: medium;
        color: blue;
    }
    p{
        font-size: small;
        text-align: justify;
        color: red;
    }
    a{
        font-size: 10px;
        color: green;
    }
    td{
        text-align: center;
        font-size: 10px;
    }
    th{
        font-size: 13px;
    }
    h2{
        font-size: 10px;
    }     } 
    
/* phone */
@media only sreen and (min-width:320px) and (max-width:482px){

    h1{
        font-size: medium;
        color: yellowgreen;
    }
    p{
        font-size: small;
        text-align: justify;
        color: black;
    }
    a{
        font-size: 10px;
        color: yellow;
    }
    td{
        text-align: center;
        font-size: 10px;
    }
    th{
        font-size: 13px;
    }
    h2{
        font-size: 10px; 
}}